/* Primary Website Colors */
.row {
  margin-bottom: 0; }
  .row .col {
    margin: 0;
    padding: 0; }

#header {
  height: 200px; }
  #header .header__inner {
    margin: 0 auto;
    height: 100%;
    background-color: #70c170; }

#weeklynums {
  height: 50px; }
  #weeklynums .weeklynums__inner {
    margin: 0 auto;
    margin-top: 10px;
    height: 100%;
    background-color: #4db14d; }
    #weeklynums .weeklynums__inner h5 {
      margin: 0;
      padding: 0;
      padding: 5px;
      color: #f2f4f2; }

#winning_numbers-outer, #multiplier_outer, #draw_date-outer {
  height: 40px; }
  #winning_numbers-outer #winning_numbers, #winning_numbers-outer #multiplier, #winning_numbers-outer #draw_date, #multiplier_outer #winning_numbers, #multiplier_outer #multiplier, #multiplier_outer #draw_date, #draw_date-outer #winning_numbers, #draw_date-outer #multiplier, #draw_date-outer #draw_date {
    height: 100%;
    background-color: #70c170; }
  #winning_numbers-outer h5, #multiplier_outer h5, #draw_date-outer h5 {
    padding: 0;
    margin: 0;
    padding: 5px;
    color: #f2f4f2; }
