/* Primary Website Colors */

$primary-green: #70c170;
$green-darken-1: darken($primary-green, 10%);
$primary-white: #f2f4f2;
$blue-gray: #4a4b56;

/*Changing Materialize Colors*/
.tabs .tab a {
	color: $primary-green;
}
.tabs .indicator {
	background-color: $green-darken-1;
}
.tabs {

}


body {
	margin: 0;
	padding: 0;
}
#nav {
	height: 100%;
	width: 75px;
	background-color: $blue-gray;
	position: fixed;
	top: 0;
	ul {
		li {
			i {
				color: $primary-white;
				margin-left: 7px;
			}
		}
	}
}

#page_content{
	margin-left: 90px;
	position: relative;
}


.row {
	.col {
		margin: 0;
		padding: 0;
	}
	margin-bottom: 0;
}
#header {
	height: 200px;

	.header__inner {
		margin: 0 auto;
		height: 100%;
		background-color: $primary-green;
	}
}
#weeklynums {
  height: 50px;
	.weeklynums__inner {
		margin: 0 auto;
		margin-top: 10px;
		height: 100%;
		background-color: $green-darken-1;
		h5 {
			margin: 0;
			padding: 0;
			padding: 5px;
			color: $primary-white;
		}
	}
}

#winning_numbers-outer, #multiplier_outer, #draw_date-outer {
	height: 40px;
	#winning_numbers, #multiplier, #draw_date {
		height: 100%;
		background-color: $primary-green;
	}
	h5 {
		padding: 0;
		margin: 0;
		padding: 5px;
		color: $primary-white;
	}
}

#drawingnums {

}
